<script>
    window.notfoundimg = "<%= image_url('not_found.png') %>"
    window.wine = "<%= image_url('wine.png') %>"
    window.bottle = "<%= image_url('bottle.png') %>"
</script>

<div id="root">
    React is not working!!!
</div>