// Place all the styles related to the TastingNotes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tasting-notes-ul{

    li:nth-child(even) {
        background-color: #eeeeee;
    }

    li:last-child {
        margin-bottom: 5%;
    }

    li {
        display: flex;
        align-items: center;
        min-height: 30px;
        height: auto;
        font-size: 14px;
        padding: 5px 5px 5px 5px;


        .sub-header {
            display: flex;
            width: 20%;
            flex-direction: column;

            .username > b{
                color: blue;
            }

            .title {
                overflow-y: hidden;
            }

            .delete {
                margin-top: 3%;
            }
        }

        .sub-header-comment {
            display: flex;
            width: 45vw;
            flex-direction: column;
            overflow-wrap: break-word;
        }

    }
}

.tasting-note-form {
    margin-left: 30%;
    margin-bottom: 5%;

    .tasting-note-input {
        border: 1px solid black;
    }
    .textarea-input {
        border: 1px solid black;
    }

    .tasting-note-input:focus, .textarea-input:focus {
        border: 1px solid #73c2fb;
    }

    .tasting-note-button {
        background-color: #47b2ff;
        color: black;
        border-radius: 5px;
        padding: 10px;
        font-size: 14px;
    }

    .tasting-note-button:hover {
        background-color: #73c2fb;
        color: #000
    }
}

.wine-show-img {
    float: left;
    margin-left: 9%;
    width: 250px;
    margin-bottom: 1%;
}

.wine-info {
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    margin-left: 40%;

    .info-detail {
        display: flex;
        margin-top: 2%;
        font-size: 20px;

        .info-name {
            width: 20%;
        }

        .details {
            margin-left: 5%;
        }
    }
}