.list {
    display: block;
    max-width: 80%;
    margin: 0 auto;
    grid-column-start: 2;
    grid-column-end: 4;
}

.top100-ul {

    li:first-child {
        font-size: 20px;
        font-weight: bold;
        border-top: 1px solid #ffffff;
    }
    
    li:nth-child(even) {
        background-color: #eeeeee;
    }

    li:last-child {
        margin-bottom: 5%;
    }

    li:nth-child(n+2){
        .sub-header-wine, .sub-header-winery {
            text-align: left;
        }
    }

    li {
        display: flex;
        align-items: center;
        min-height: 30px;
        height: auto;
        font-size: 14px;
        padding: 5px 5px 5px 5px;

        .sub-header-rank {
            display: flex;
            width: 15%;
            flex-direction: row;
            text-align: center;

        }

        .sortImg{
            width:20px;
        }

        .sub-header-wine {
            display: flex;
            width: 50%;
            flex-direction: row;
            line-height: 24px;
        }

        .sub-header-vintage {
            display: flex;
            flex-direction: row;
            width: 11%;
            text-align: center;
        }

        .sub-header-score{
            display: flex;
            flex-direction: row;
            width: 11%;
            text-align: center;
        }
    }

}

.note {
    width: 20%;
    padding: 20px;
    margin-bottom: -20%;
    font-size: 14px;
    position: absolute;
    right: 50%;
    background-color: #fff;
    // padding: .5em;
    display: none;
    border-radius: 5%;
    border: 1px solid black;
    text-align: left;
    justify-content: left;
}

.sub-header-wine:hover + .note {
    display: block;
}

.search {

    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
    justify-content: center;

    input, input:focus {
        border: 0;
        width: 80%;
        font-size: 20px;
        margin-left: -5%;
        margin-top: 2%;
        appearance: none;
        outline: none;
    }
}