// .top100-ul {
//     height: 50vh;
//     list-style-type: none;
// }

// .info {
//     display: block;
//     text-align: left;
//     padding-left: 35%;
// }

// .bottle {
//     border-radius: 50%;
//     max-width: 150px;
//     float: left;
//     border: 1px solid black;
// }

// h2 {
//     color: grey;
//     font-size: 25px;
//     // padding-bottom: 1%;
//     /* margin-top: -2%; */
// }

// .info {
//     display: flex;
//     flex-direction: column;
//     text-align: left;
//     padding-left: 35%;
// }

// .namePlus {
//     display: flex;
//     flex-direction: row;
// }

// .name {
//     font-size: 35px;
//     margin-left: -5%;
//     float: left;
// }

// .top100-li {
//     height: 15vh;
// }

.list {
    display: block;
    max-width: 80%;
    margin: 0 auto;
    grid-column-start: 2;
    grid-column-end: 4;
}

.top100-ul {

    li:first-child {
        font-size: 11px;
        border-top: 1px solid #ffffff;
    }
    
    li:nth-child(even) {
        background-color: #dddddd;
    }

    li {
        display: flex;
        align-items: center;
        height: 40px;
        font-size: 14px;
        padding: 5px 5px 5px 5px;

        .sub-header-rank {
            width: 5%;
            flex-direction: row;
        }

        .sub-header-wine {
            width: 55%;
            flex-direction: row;
            line-height: 24px;
        }

        .sub-header-winery {
            width: 35%;
            line-height: 24px;
        }

    }
}

.note {
    width: 20%;
    padding: 20px;
    margin-bottom: -20%;
    font-size: 14px;
    position: absolute;
    right: 50%;
    background-color: #fff;
    // padding: .5em;
    display: none;
    border-radius: 5%;
    border: 1px solid black;
}

.sub-header-wine:hover + .note {
    display: block;
}