.wineries-list {
    display: block;
    max-width: 80%;
    margin-left: 9%;
}

.wineries-ul {

    li:first-child {
        font-size: 20px;
        font-weight: bold;
        border-top: 1px solid #ffffff;
    }
    
    li:nth-child(even) {
        background-color: #eeeeee;
    }

    li {
        display: flex;
        align-items: center;
        min-height: 30px;
        height: auto;
        font-size: 14px;
        padding: 5px 5px 5px 5px;

        .sortImg{
            width:20px;
        }

        .sub-header-winery {
            display: flex;
            width: 70%;
            flex-direction: row;
            line-height: 24px;
        }

        .sub-header-country {
            display: flex;
            flex-direction: row;
            width: 10%;
            text-align: center;
            justify-content: center;
        }

        .sub-header-actions{
            display: flex;
            flex-direction: row;
            width: 20%;
            text-align: center;
            justify-content: center;

            .update-button {
                background-color: #0099ff;
                border-radius: 3px;
                border: none;
                margin: 0px 5px 0px 5px;
                height: 25px;
                padding: 5px 10px 5px 12px;
            }

            .update-button:hover {
                background-color: #18a3ff;
            }

            .delete-button {
                background-color: red;
                border-radius: 3px;
                border: none;
                margin: 0px 5px 0px 5px;
                height: 25px;
                padding: 5px 10px 5px 12px;
            }

            .delete-button:hover {
                background-color: lightcoral;
            }
        }
    }
}


.create-winery {
    background-color: #0099ff;
    border-radius: 3px;
    border: none;
    margin: 0px 5px 0px 5px;
    height: 25px;
    padding: 5px 10px 5px 12px;
    margin-left: 43%;
}

.create-winery:hover {
    background-color: #18a3ff;
}